<a href="https://colab.research.google.com/github/dharam7002/testrep/blob/main/CSD_MasterDatabase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [104]:
import os

# Specify the target directory path
target_directory = '/content/drive/MyDrive/CSD_Masterdatabase_Folder'

# Change the current working directory to the target directory
os.chdir(target_directory)

# Now, the current working directory is set to the target_directory
# You can verify it by printing the current working directory
print("Current working directory:", os.getcwd())

Current working directory: /content/drive/MyDrive/CSD_Masterdatabase_Folder

In [105]:
import sqlite3
import pandas as pd

In [106]:
#/content/drive/MyDrive/CSD_Masterdatabase_Folder
conn = sqlite3.connect("CSD_Masterdatabase.db") #create sql connection
conn.commit()
#conn.close()

In [109]:
# Assuming you already have a SQLite connection named 'conn'
curr = conn.cursor()

# Use backticks (`) or double quotes (") around column names with spaces
query = "SELECT 'Email Address', COUNT(*) FROM R2_Int WHERE 'Email Address' LIKE '%@%' GROUP BY 'Email Address';"

curr.execute(query)
conn.commit()

ans = curr.fetchall()
print(ans)

[]

In [ ]:
R1_db = pd.read_excel("/content/drive/MyDrive/CSD_Masterdatabase_Folder/New_r0_dump_19may-20july.xlsx")
R1_db.info()

In [130]:
R1_db.to_sql("R1_Int",conn)

146571

In [131]:
Webinar_db = pd.read_excel("/content/drive/MyDrive/CSD_Masterdatabase_Folder/Webinar_Attended_19May_20July.xlsx")

In [ ]:
Webinar_db.info()
Webinar_db['Webinar Aadhar Number'] = Webinar_db['Webinar Aadhar Number'].astype(str)
Webinar_db['Webinar Alt Mobile Number'] = Webinar_db['Webinar Alt Mobile Number'].astype(str)
Webinar_db['Notes'] = Webinar_db['Notes'].astype(str)
Webinar_db.info()

In [133]:
Webinar_db.to_sql("Webinar",conn)
curr.execute("Select * from Webinar")
conn.commit()
res = curr.fetchall()

In [134]:
S2_db = pd.read_excel("/content/drive/MyDrive/CSD_Masterdatabase_Folder/S2_19May_20July.xlsx")

In [ ]:

S2_db.info()
S2_db.to_sql("S2",conn)

In [136]:
curr.execute("select count(*) from S2;")
conn.commit()
curr.fetchall()

[(41812,)]

In [137]:
assignment_db = pd.read_excel("/content/drive/MyDrive/CSD_Masterdatabase_Folder/Assignment_19may_20july.xlsx")

In [ ]:
assignment_db.info()
assignment_db.to_sql("assignment",conn)
curr.execute("select count(*) from assignment;")
conn.commit()
curr.fetchall()

In [141]:
conn
curr.execute("SELECT name FROM sqlite_master WHERE type='table';")
conn.commit()
curr.fetchall()
conn.close()

ProgrammingError: ignored

In [142]:
conn = sqlite3.connect("CSD_Masterdatabase.db") #create sql connection

In [145]:
curr = conn.cursor()
curr.execute("SELECT name FROM sqlite_master WHERE type='table';")
conn.commit()
curr.fetchall()

[('assignment',), ('R1_Int',), ('Webinar',), ('S2',)]

In [ ]:
R2_df = pd.read_excel("/content/drive/MyDrive/CSD_Masterdatabase_Folder/New_R2.xlsx")
R2_df.info()

In [148]:
R2_df.to_sql("R2_Int",conn)

30835

In [ ]:
joinee_db=pd.read_excel("/content/drive/MyDrive/CSD_Masterdatabase_Folder/Joinee.xlsx")
joinee_db.head()

In [160]:
# curr.execute("drop table joinee")
# conn.commit()
joinee_db.info()
joinee_db.to_sql("joinee",conn)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7152 entries, 0 to 7151
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   BU Vertical            7152 non-null   object
 1   SSP DOJ                7152 non-null   datetime64[ns]
 2   Role Location          7152 non-null   object
 3   Location Division 1    7152 non-null   object
 4   Location Division 2    6868 non-null   object
 5   SSP ID                 6315 non-null   object
 6   SSP Mail ID            7152 non-null   object
 7   Full Name              7152 non-null   object
 8   Personal Mail ID       7150 non-null   object
 9   Unnamed: 9             7107 non-null   float64
 10  Aadhar Number          5957 non-null   object
 11  R1 Interivewer         7050 non-null   object
 12  R2 Interviewer         6496 non-null   object
 13  Manager                6646 non-null   object
 14  ASM                    6666 non-null   object
 15  AGM                    6667 non-null   object
 16  R1 Interviewer Age     5780 non-null   object
 17  Location Productivity  7152 non-null   float64
 18  SSP Verdict            5035 non-null   object
dtypes: datetime64[ns](1), float64(2), object(16)
memory usage: 1.0+ MB

7152

In [161]:
curr = conn.cursor()
curr.execute("SELECT name FROM sqlite_master WHERE type='table';")
conn.commit()
curr.fetchall()

[('assignment',), ('R1_Int',), ('Webinar',), ('S2',), ('R2_Int',), ('joinee',)]

In [162]:
tour_db = pd.read_excel("/content/drive/MyDrive/CSD_Masterdatabase_Folder/Office Tour.xlsx")

In [ ]:
tour_db.info()
tour_db['Tour Date'] = pd.to_datetime(tour_db['Tour Date'])

In [166]:
tour_db.to_sql("tour",conn)

4970

In [168]:
curr.execute("SELECT name FROM sqlite_master WHERE type='table';")
conn.commit()
curr.fetchall()
conn.close()